   RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /proyectos/erick/tallentus/index.php/$1 [L]
 
    ErrorDocument 404 /proyectos/erick/tallentus/index.php